/* Style the header */
body {
  background-color: #fff;
}
div.header-container {
    background-color: #666;
    /* padding: 30px; */
    color: white;
  }

  div.logo-container {
    background: #000;
    text-align: center;
  }
  
  div.menu-container {
    background: #000;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  div.slogan {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    font-size: small;
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    /* padding: auto; */
  }

  div.contact {
    font-weight: bold;
    font-size: small;
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    padding: auto;
  }

  div.vr {
    color: white;
  }


  /* Create two columns/boxes that floats next to each other */
  nav {
    float: right;
    width: 100%;
    background: #ccc;
    /* padding: 20px; */
  }
  
  /* Style the list inside the menu */
  /* nav ul {
    list-style-type: none;
    padding: 0;
  } */
  
  article {
    float: left;
    /* padding: 20px; */
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer.footer-container {
    background-color: #000;
    /* padding: 10px; */
    text-align: center;
    color: white;
    font-family: "Eras Demi ITC", sans-serif;
  }

  p.comments {
    text-align: center;
    /* padding-bottom: 200px; */
  }

  h3 {
    text-align: center;
  }

  p#contact {
    font-size: small;
  }

  a.logo {
    background-color: #fff;
  }

  img.logo {
    /* padding: 2%; */
    max-width: 95%;
  }

  img.logo-footer {
    /* padding: 2%; */
    max-width: 30%;
  }

  p.services {
    text-align: center;
    color: #F15D3C;
  }

  section.service {
    font-family: Herculanum, "Eras Demi ITC", sans-serif;
    text-align: center;
    font-style: italic;
    
    /* background-image: url("assets/bg.png");
    background-repeat: repeat;
    background-attachment: fixed; */
    background-color: white;
  }

  span.text {
    font-size: 2vw;
    /* line-height: 500%; */
  }

  img.banner {
    max-width: 98%;
  }

  button.service-btn {
    width: fit-content;
  }

  img.serv-btn {
    width: 150px;
  }

  div.fdc-modal {
    text-align: center;
    background-color: #D1D3D4;
  }

  div.modal-header {
    text-align: center;
    background-image: url("assets/bg.png");
    background-repeat: repeat;
    background-attachment: fixed;
  }

  p.intro {
    text-align: center;
  }

  h4.h4-services {
    color: #F15D3C;
  }

  p.title {
    /* padding-top: 20px;
    padding-bottom: 20px; */
    text-align: center;
    font-size: x-large;
  }